# Configuration npm pour le projet Dans la Forêt
# Registre Artifactory interne (obligatoire en réseau d'entreprise)
registry=https://artifactory.mycloud.intrabpce.fr/artifactory/api/npm/g-npm-89c3/

# Ignorer les erreurs de peer dependencies
legacy-peer-deps=true
